node_modules
**/node_modules
.git
.github
.vscode
.turbo
.next
**/.next
**/dist
**/build
**/.turbo
*.log
*.tmp
*.cache
.env
.env.*
!.env.example
.DS_Store
coverage
.nyc_output
npm-debug.log*
pnpm-debug.log*
Dockerfile*
!apps/api/Dockerfile
!apps/web/Dockerfile
!apps/admin/Dockerfile
